[submodule "lib/MakerMatty_TimeTrack"]
	path = lib/MakerMatty_TimeTrack
	url = https://github.com/immakermatty/MakerMatty_TimeTrack.git
[submodule "lib/MakerMatty_MPU6050_Motion"]
	path = lib/MakerMatty_MPU6050_Motion
	url = https://github.com/immakermatty/MakerMatty_MPU6050_Motion.git
[submodule "lib/MakerMatty_Curves"]
	path = lib/MakerMatty_Curves
	url = https://github.com/immakermatty/MakerMatty_Curves.git
[submodule "lib/MakerMatty_Button"]
	path = lib/MakerMatty_Button
	url = https://github.com/immakermatty/MakerMatty_Button.git
[submodule "lib/MakerMatty_TemplateMath"]
	path = lib/MakerMatty_TemplateMath
	url = https://github.com/immakermatty/MakerMatty_TemplateMath.git
[submodule "lib/MakerMatty_AccessPointWebUpdate"]
	path = lib/MakerMatty_AccessPointWebUpdate
	url = https://github.com/immakermatty/MakerMatty_AccessPointWebUpdate.git
[submodule "lib/MakerMatty_NeoEffects"]
	path = lib/MakerMatty_NeoEffects
	url = https://github.com/immakermatty/MakerMatty_NeoEffects.git
